# Evaluating the LLM on the dataset without fewshot learning

In [8]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('data/llm_block1_2_3_4_5.csv')

# Ensure data types are correct; convert if necessary
salary_columns = ['min_salary', 'max_salary', 'block1_min_salary', 'block1_max_salary', 'block1_2_min_salary', 'block1_2_max_salary', 'block1_2_3_4_5_min_salary', 'block1_2_3_4_5_max_salary']
for col in salary_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [12]:
print(df)

                                                 title  \
0                               Software Engineer .Net
1                        Digital Analyst / Web Analyst
2                               ICT Supporter 100% (a)
3    KAUFMÄNNISCHES PRAKTIKUM (100%) - MIT FOKUS KU...
4    System Engineer für Microsoft-Technologien und...
..                                                 ...
105                                Mainframe Developer
106                                      SAP Architect
107                             Office & Event Support
108                     IT-Test Engineer (m/w) 80-100%
109                    Automatisierungstechniker (m/w)

                    company   contract_type  \
0        ELCA Informatik AG  Festanstellung
1                   Unic AG  Festanstellung
2             Spitex Zürich  Festanstellung
3                 gebana AG       Praktikum
4              konekkt GmbH  Festanstellung
..                      ...             ...
105     Trinnovo Group GmbH       Freelance
106  TalentCloud Group GmbH  Festanstellung
107   ETH Zürich Foundation       Praktikum
108             yellowshark  Festanstellung
109             yellowshark  Festanstellung

                                           description  min_workload  \
0    Über ELCA Wir sind ELCA, einer der grössten Sc...            80
1    Deine Aufgaben als Digital Analyst bei Unic   ...            80
2    Möchtest du auch etwas bewegen und deine Arbei...           100
3    DEINE AUFGABEN IM KUND:INNENSERVICE – EINSATZ ...           100
4    Wir präsentieren eine faszinierende Karrieremö...            80
..                                                 ...           ...
105  English     Position: Mainframe Engineer (m/w/...            80
106  Are you a highly motivated SAP Architect looki...           100
107  Suchen Sie eine sinnstiftende Aufgabe in einem...            50
108  Für unseren Kunden im Raum Zürich suchen wir e...           100
109  Für unseren Kunden, ein renommiertes Unternehm...           100

     max_workload  min_salary  max_salary  block1_min_salary  \
0             100      100000      130000              90000
1             100       90000      113000              80000
2             100       78000       96000              80000
3             100       28300       28300              45000
4             100       95000      125000              90000
..            ...         ...         ...                ...
105           100      218400      218400              80000
106           100      140000      180000              90000
107            70       61152       61152              55000
108           100      110000      120000              80000
109           100       80000      120000              80000

     block1_max_salary  ...  \
0               110000  ...
1               100000  ...
2               100000  ...
3                65000  ...
4               110000  ...
..                 ...  ...
105             100000  ...
106             110000  ...
107              65000  ...
108             100000  ...
109             100000  ...

                                       block1_2_answer  block1_2_3_min_salary  \
0    Based on national averages and online sources,...                  90000
1    Based on national averages and online sources,...                  70000
2    Based on national averages and online sources,...                  60000
3    Based on national averages and online sources,...                  45000
4    Based on national averages and online sources,...                  90000
..                                                 ...                    ...
105  Based on national averages and online sources,...                  90000
106  Based on national averages and online sources,...                 120000
107  Based on national averages and online sources,...                  45000
108  Based on national averages and online sources,...                  80000
109  Based on national averages and online sources,...                  80000

     block1_2_3_max_salary                                  block1_2_3_answer  \
0                   110000  Based on national averages and online sources,...
1                    85000  Based on national averages and online sources,...
2                    80000  Based on national averages and online sources,...
3                    65000  Based on national averages and online sources,...
4                   110000  Based on national averages and online sources,...
..                     ...                                                ...
105                 110000  Based on national averages and online sources,...
106                 140000  Based on national averages and online sources,...
107                  63000  Based on national averages and online sources,...
108                 100000  Based on national averages and online sources,...
109                 100000  Based on national averages and online sources,...

     block1_2_3_4_min_salary  block1_2_3_4_max_salary  \
0                    90000.0                 110000.0
1                    90000.0                 110000.0
2                    80000.0                 100000.0
3                    45000.0                  55000.0
4                    90000.0                 110000.0
..                       ...                      ...
105                  90000.0                 110000.0
106                  90000.0                 110000.0
107                  45000.0                  55000.0
108                  90000.0                 110000.0
109                  80000.0                 100000.0

                                   block1_2_3_4_answer  \
0    Based on national averages and online sources,...
1    Based on national averages and online sources,...
2    Based on national averages and online sources,...
3    Based on national averages and online sources,...
4    Based on national averages and online sources,...
..                                                 ...
105  Based on market research and available data, h...
106  Based on national averages and online sources,...
107  Based on national averages and online sources,...
108  Based on national averages and online sources,...
109  Based on national averages and online sources,...

     block1_2_3_4_5_min_salary  block1_2_3_4_5_max_salary  \
0                      90000.0                   110000.0
1                      80000.0                   100000.0
2                      80000.0                   100000.0
3                      45000.0                    55000.0
4                      90000.0                   110000.0
..                         ...                        ...
105                    90000.0                   110000.0
106                    90000.0                   110000.0
107                    45000.0                    55000.0
108                    90000.0                   110000.0
109                    80000.0                   100000.0

                                 block1_2_3_4_5_answer
0    Based on national averages and online sources,...
1    Based on national averages and online sources,...
2    Based on national averages and online sources,...
3    Based on national averages and online sources,...
4    Based on national averages and online sources,...
..                                                 ...
105  Based on market research and available data, h...
106  Based on national averages and online sources,...
107  Based on national averages and online sources,...
108  Based on national averages and online sources,...
109  Based on national averages and online sources,...

[110 rows x 23 columns]

In [19]:
def calculate_rmse(row, min_col, max_col, pred_min_col, pred_max_col):
    actual_avg = (row[min_col] + row[max_col]) / 2
    predicted_avg = (row[pred_min_col] + row[pred_max_col]) / 2
    return np.sqrt((actual_avg - predicted_avg) ** 2)

def calculate_overlap(row, min_col, max_col, pred_min_col, pred_max_col):
    actual_min, actual_max = row[min_col], row[max_col]
    predicted_min, predicted_max = row[pred_min_col], row[pred_max_col]
    intersection_min = max(actual_min, predicted_min)
    intersection_max = min(actual_max, predicted_max)
    if intersection_max > intersection_min:
        intersection = intersection_max - intersection_min
        smaller_range = min(actual_max - actual_min, predicted_max - predicted_min)
        return intersection / smaller_range
    return 0

In [20]:
blocks = [
    ('block1_min_salary', 'block1_max_salary'),
    ('block1_2_min_salary', 'block1_2_max_salary'),
    ('block1_2_3_min_salary', 'block1_2_3_max_salary'),
        ('block1_2_3_4_min_salary', 'block1_2_3_4_max_salary'),
    ('block1_2_3_4_5_min_salary', 'block1_2_3_4_5_max_salary')
]

# Iterate over each block and calculate RMSE and overlap
for min_col, max_col in blocks:
    df[min_col + '_rmse'] = df.apply(calculate_rmse, axis=1, min_col='min_salary', max_col='max_salary', pred_min_col=min_col, pred_max_col=max_col)
    df[min_col + '_overlap'] = df.apply(calculate_overlap, axis=1, min_col='min_salary', max_col='max_salary', pred_min_col=min_col, pred_max_col=max_col)

# Calculate average RMSE and overlap for each block
for min_col, _ in blocks:
    average_rmse = df[min_col + '_rmse'].mean()
    average_overlap = df[min_col + '_overlap'].mean()
    print(f"Average RMSE for {min_col}: {average_rmse}")
    print(f"Average Overlap Coefficient for {min_col}: {average_overlap}")

Average RMSE for block1_min_salary: 20453.563636363637
Average Overlap Coefficient for block1_min_salary: 0.425
Average RMSE for block1_2_min_salary: 20800.8
Average Overlap Coefficient for block1_2_min_salary: 0.4067777777777778
Average RMSE for block1_2_3_min_salary: 23080.836363636365
Average Overlap Coefficient for block1_2_3_min_salary: 0.29556565656565653
Average RMSE for block1_2_3_4_min_salary: 21448.550458715596
Average Overlap Coefficient for block1_2_3_4_min_salary: 0.3883939393939394
Average RMSE for block1_2_3_4_5_min_salary: 21540.29357798165
Average Overlap Coefficient for block1_2_3_4_5_min_salary: 0.3838484848484849